<div class="navbar">

    <div class="logo">Shop</div>

    <div class="search-bar">
        <input type="text" placeholder="Search for Products, Brands and More">
    </div>

    <div class="nav-right">

        <a routerLink="/">
            <span class="material-icons icon">person</span>
            <span>Profile</span>
        </a>

        <a routerLink="/cart" class="cart-link">
            <span class="material-icons icon">shopping_cart</span>
            <span>Cart</span>
            <span class="cart-count">0</span>
        </a>
    </div>
</div>

<div class="category-menu">
    <a routerLink="/">For You</a>
    <a routerLink="/fashion">Fashion</a>
    <a routerLink="/mobiles">Mobiles</a>
    <a routerLink="/beauty">Beauty</a>
    <a routerLink="/electronics">Electronics</a>
    <a routerLink="/home-appliances">Home</a>
    <a routerLink="/toys">Toys</a>
    <a routerLink="/food">Food</a>
    <a routerLink="/sports">Sports</a>
    <a routerLink="/books">Books</a>

</div>